

.input-field {
  width: 90%;
  padding: 10px 12px;
  margin-top: 6px;
  margin-bottom: 14px;

  font-size: 15px;
  color: #000000;

  background-color: #a0a0a0;
  border: 1px solid #374151;
  border-radius: 6px;

  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}


.app-container {
  width: 100%;
  max-width: 520px;   /* desktop cap */
  margin: 24px auto;
  padding: 20px;
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
}



.card {
  background-color: #393939;
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


h1,
h2,
h3,
h4 {
  margin-bottom: 16px;
}

.option {
  margin: 10px 0;
}

button {
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
}

button:disabled {
  background-color: #a5b4fc;
  cursor: not-allowed;
}


@media (max-width: 480px) {
  .card {
    padding: 18px;
  }

  button {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .app-container {
    margin: 12px;
    padding: 16px;
  }

  .card {
    padding: 16px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}
